@tailwind base;
@tailwind components;
@tailwind utilities;

/* hides scrollbars */
.message,
.slides-container {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.message::-webkit-scrollbar,
.slides-container::-webkit-scrollbar {
  display: none;
}

.active {
  border-bottom: 4px solid gold;
}
